<!-- Contact section -->
<section id="contact" >
	<div class="container">
		<div class="row">
			<div class="col-md-7 contact-form wow animated fadeInLeft" >
				<div class="cognito">
					<script src="https://services.cognitoforms.com/s/wS_G94BcLkyoExe8MCLpog"></script>
					<script>Cognito.load("forms", { id: "1" });</script>
				</div>
			</div>
			<div class="col-md-5 wow animated fadeInRight">
				<address class="contact-details">
					<h3>Head Quarters</h3>
					<p><i class="fa fa-pencil"></i>Jaffan Trading & Marketing<span>PO Box 618</span> <span>Damascus</span><span>Syria</span></p><br>
					<p><i class="fa fa-phone"></i>Phone: +963 11 221 0466 </p>
					<p><i class="fa fa-envelope"></i>info@jaffan.com</p>
				</address>
				<address class="contact-details">
					<h3>Branches</h3>
					<div class="branches">
						<h4>Saudi Arabia</h4>
						<p><i class="fa fa-pencil"></i>Jaffan Trading & Marketing<span>P.O. Box: 136403</span> <span>Jeddah 21313</span><span>Saudi Arabia</span></p><br>
						<p><i class="fa fa-phone"></i>Phone: +966-50- 360 1256 </p>
						<p><i class="fa fa-envelope"></i>info@jtmsa.jaffan.com</p>
					</div>
					<div class="branches">
						<h4>Lebanon</h4>
						<p><i class="fa fa-pencil"></i>Jaffan Trading & Marketing<span>P.O. Box: 136403</span> <span>Beirut 21313</span><span>Lebanon</span></p><br>
						<p><i class="fa fa-phone"></i>Phone: +961-3-650 530 </p>
						<p><i class="fa fa-envelope"></i>info@jtmlb.jaffan.com</p>
					</div>
				</address>
			</div>
		</div>
	</div>
</section>
<!-- end Contact section -->

<section id="google-map">
	<div id="map-canvas" class="wow animated fadeInUp"></div>
</section>