<!-- about section -->
<section id="about" >
	<div class="container">
		<div class="row">
			<div class="col-md-4 wow animated fadeInLeft">
				<div class="recent-works">
					<h3>Recent Updates</h3>
					<div id="works">
						<div class="work-item">
							<p>Meet us at the Gulf Food Manufacturing which will take place in Dubai from 6 - 9 November 2016 .<br><br> Details to come soon..</p>
						</div>
						<div class="work-item">
							<p>Meet us at the Gulf Food Manufacturing which will take place in Dubai from 27-29 October 2015 .<br><br> Our stand is at Sheikh Saeed Hall (S2-D46).<br>This year we have 88 sqm stand and we do have several principals sharing the stand with us and this year we do have :<br>Memak - Turkey <br>They do provide a high quality machines for the chocolate processing and bakery industries.<br>Krueger - Germany<br>One of the leader in the health cereal forming machines.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
				<div class="welcome-block">
					<h3>Welcome To Our Site</h3>								
			     	 <div class="message-body">
						<!--<img src="" class="pull-left" alt="member">-->
						<p>
							{{ context.about }}
						</p>
			     	 </div>
			       	<!--a-- href="#" class="btn btn-border btn-effect pull-right">Read More</a-->
			    </div>
			</div>
		</div>
	</div>
</section>