<!-- about section -->
<section id="about" >
	<div class="container">
		<div class="row">
			<div class="col-md-4 wow animated fadeInLeft">
				<div class="recent-works">
					<h3>Recent Updates</h3>
					<div id="works">
						{% for obj in news %}
						<div class="work-item">
							<p>{{ obj.description }}</p>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
				<div class="welcome-block">
					<h3>Welcome To Our Site</h3>								
			     	 <div class="message-body">
						<!--<img src="" class="pull-left" alt="member">-->
						<p>
						{% for obj in about %}
							{{ obj.content }}
						{% endfor %}
						</p>
			     	 </div>
			       	<!--a-- href="#" class="btn btn-border btn-effect pull-right">Read More</a-->
			    </div>
			</div>
		</div>
	</div>
</section>