<!-- portfolio section -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="sec-title text-center wow animated fadeInDown">
				<h2>OUR OFFERS</h2>
				<p>Your one stop shop</p>
			</div>			
			<ul class="project-wrapper wow animated fadeInUp">
			{% for product in products %}
				<li class="portfolio-item">
					<img src="{{ product.img }}" class="img-responsive" alt="{{ product.description }}">
					<figcaption class="mask">
						<h3>{{ product.name }}</h3>
						<p>{{ product.short_description }}</p>
					</figcaption>
					<ul class="external">
						<li><a class="fancybox" title="{{ product.name }}" data-fancybox-group="works" href="#"><i class="fa fa-search"></i></a></li>
						<li><a href=""><i class="fa fa-link"></i></a></li>
					</ul>
				</li>	
				{% endfor %}
			</ul>	
		</div>
	</div>
</section>
<!-- end portfolio section -->
