<!-- portfolio section -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="sec-title text-center wow animated fadeInDown">
				<h2>OUR OFFERS</h2>
				<p>Your one stop shop</p>
			</div>			
			<ul class="project-wrapper wow animated fadeInUp">
				<li class="portfolio-item">
					<img src="img/portfolio/Bakery%20products.jpg" class="img-responsive" alt="We bring in lots of experience and know how into the production and manufacturing of bakery goods. Either for Processing lines, wraping machines or just the Raw Maerials. We are your one stop shop.">
					<figcaption class="mask">
						<h3>Bakery</h3>
						<p>We bring in lots of experience and know how into the production and manufacturing of bakery goods. </p>
					</figcaption>
					<ul class="external">
						<li><a class="fancybox" title="Bakery" data-fancybox-group="works" href="img/portfolio/Bakery%20products.jpg"><i class="fa fa-search"></i></a></li>
						<li><a href=""><i class="fa fa-link"></i></a></li>
					</ul>
				</li>	
			</ul>	
		</div>
	</div>
</section>
<!-- end portfolio section -->
