
<!-- Service section -->
<section id="service">
	<div class="container">
		<div class="row">
		
			<div class="sec-title text-center">
				<h2 class="wow animated bounceInLeft">Service</h2>
				<p class="wow animated bounceInRight">What Sets us Apart</p>
			</div>
			
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
				<div class="service-item">
					<div class="service-icon">
						<i class="fa fa-home fa-3x"></i>
					</div>
					<h3>Support</h3>
					<p>Pre-sales & after sales support. We never leave you in the dark.</p>
				</div>
			</div>
		
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
				<div class="service-item">
					<div class="service-icon">
						<i class="fa fa-tasks fa-3x"></i>
					</div>
					<h3>Transparency</h3>
					<p></p>
				</div>
			</div>
		
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
				<div class="service-item">
					<div class="service-icon">
						<i class="fa fa-clock-o fa-3x"></i>
					</div>
					<h3>History</h3>
					<p>Our long history in this industry can attest to our knowledge, expertise and commit to both our clients and suppliers.</p>
				</div>
			</div>
		
			<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
				<div class="service-item">
					<div class="service-icon">
						<i class="fa fa-heart fa-3x"></i>
					</div>
					
					<h3>Reputation</h3>
					<p></p>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- end Service section -->